@import "../..//index.css";


& .title {
    padding: 1rem 0;
    color: var(--primaryColor);
    font-size: clamp(1.5rem, 5vw, 3rem);
    text-transform: capitalize;
}

.card {
    display: flex;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;

    & .cardImg {
        overflow: hidden;

        & img {
            max-width: 240px;
            aspect-ratio: 16/9;
            object-fit: cover;
            border-radius: .4rem;
        }
    }

    & .cardCaption {
        flex: 1;
        padding: .5rem;

        & .cardTitle {
            max-width: 380px;
            font-family: "Spiderman";
            font-size: 1.4rem;
        }
    }
}