@import "../..//index.css";

.card {
    display: flex;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;

    & .cardImg {
        overflow: hidden;

        & img {
            max-width: 240px;
            aspect-ratio: 14/16;
            object-fit: cover;
            border-radius: 1rem;
        }
    }

    & .cardCaption {
        flex: 1;
        padding: .5rem;
        background-color: red;

        & .cardTitle {
            font-family: "Spiderman";
        }
    }
}