@import "../..//index.css";




.card {
    display: flex;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;

    & .cardImg {
        overflow: hidden;

        & img {
            max-width: 240px;
            aspect-ratio: 16/9;
            object-fit: cover;
            border-radius: .4rem;
        }
    }

    & .cardCaption {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: .5rem;

        & .cardTitle {
            max-width: 380px;
            font-family: "Spiderman";
            font-size: 1.4rem;
        }

        & .cardMisc {
            display: flex;
            gap: 1rem;
        }
    }
}