@import "../../index.css";




.card {
    display: flex;
    gap: 1rem;
    width: 100%;

    & .cardImg {
        overflow: hidden;

        & img {
            max-width: 240px;
            aspect-ratio: 16/9;
            object-fit: cover;
            border-radius: .4rem;
        }
    }

    & .cardCaption {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: .5rem;

        & .cardTitle {
            max-width: 380px;
            font-family: "Spiderman";
            font-size: 1.4rem;
        }

        & .cardMisc {
            display: flex;
            gap: .5rem;
        }
    }
}


@media (max-width: 1024px) and (min-width: 768px) {
    .card {
        gap: 0.75rem;

        & .cardImg img {
            max-width: 180px;
        }

        & .cardCaption {
            gap: .5rem;

            & .cardTitle {
                max-width: 300px;
                font-size: 1.2rem;
            }
        }
    }
}

@media (max-width: 500px) {
    .card {
        flex-direction: column;
        gap: 0.5rem;

        & .cardImg img {
            max-width: 100%;
        }

        & .cardCaption {
            padding: 0.25rem;
            gap: .5rem;

            & .cardTitle {
                max-width: 100%;
                font-size: 1.1rem;
            }
        }
    }
}