@import "../..//index.css";



.button {
    width: fit-content;
    padding: .5rem 1rem;
    border-radius: .4rem;
    background-color: red;
    color: var(--light);
    font-size: 1.1rem;
    font-weight: 500;
}