:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dark: #000;
  --light: #fff;
}

body {
  background-color: var(--dark);
  color: var(--light);
}

@font-face {
  font-family: "Spiderman";
  src: local("Spiderman Regular"), url("./assets/fonts//IndustryTest.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}