@import "../../index.css";

.aboutContainer {
    display: grid;
    min-height: 100svh;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;

    &::before {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 100%;
    }

    & .aboutContent {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;


        & .aboutCaption {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            max-width: 768px;

            & .aboutTitle {
                font-size: 2.5rem;
            }

            & .aboutText {
                max-width: 600px;
                font-size: 1.1rem;
            }
        }
    }
}

@media (max-width: 500px) {}