@import "../../index.css";

.homeContainer {
    background-size: cover;
    min-height: 90svh;
    background-color: black;
    background-image: url("../../assets/banner.png");
    background-size: cover;
    background-repeat: no-repeat;

    & .homeCaption {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        color: var(--primaryColor);
    }

    & .homeTitle {
        max-width: 760px;
        font-size: clamp(2rem, 5vw, 4.5rem);
        text-transform: capitalize;
    }

    & .homeText {
        max-width: 760px;
        font-size: 1.1rem;
        font-weight: 500;
    }

    & .homeButton {
        background-color: var(--primaryColor);
    }
}

& .card {
    padding: 1rem;
    background-color: var(--primaryColor);
    border-radius: 1rem;
}