@import "../../index.css";

.newsContainer {


    & .title {
        margin-bottom: 1rem;
        padding: 2rem 0;
        color: var(--primaryColor);
        font-size: clamp(1.5rem, 5vw, 2.2rem);
        text-transform: capitalize;
    }
}