@import "../../index.css";

.newsContainer {
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    gap: 1rem;
    background-color: red;

    & .newsCard {
        display: flex;
        background-color: blueviolet;
    }

    & img {
        max-width: 250px;
        aspect-ratio: 16/9 !important;
        object-fit: cover;
    }
}