@import "../../index.css";

.navbar {
    padding: 1rem;
    color: var(--primaryColor);
    font-weight: 500;

    & .navLink {
        color: #747474;

        &:nth-of-type(1) {
            color: var(--primaryColor);
        }
    }

    & .buttonRegister {
        border: 2px solid var(--primaryColor);
        color: var(--primaryColor);
    }

    & .buttonLogin {
        background-color: var(--primaryColor);
        color: var(--light);
    }
}