@import "../..//index.css";

.card {
    width: 100%;


    & .cardImg {
        height: 200px;
        background-color: red;
        overflow: hidden;
    }

    & .cardCaption {
        padding: 1rem;
    }
}