@import "../..//index.css";

.card {
    width: 100%;
    border-radius: 1rem;

    & .cardImg {
        background-color: red;
        overflow: hidden;

        & img {
            aspect-ratio: 3/4;
        }
    }

    & .cardCaption {
        padding: 1rem;
        background-color: var(--dark);
    }
}