@import "../../index.css";

.template {
    display: grid;

    & .templateTitle {
        color: var(--primaryColor);
        font-size: clamp(1.5rem, 5vw, 3rem);
        text-transform: capitalize;
    }

    & .templateContent {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 400px;
        gap: 2rem;
    }
}