@import "../../index.css";

.template {
    display: grid;

    & .templateTitle {
        padding: 1rem 0;
        color: var(--primaryColor);
        font-size: clamp(1.5rem, 5vw, 3rem);
        text-transform: capitalize;
    }

    & .templateContent {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 2rem;
    }
}